

#add_feature{
    border: 0;
}

.delete_feature_item {
    cursor: pointer;
    color: black;
}

.col-3 {
    width:25%;
    padding:15px;
    float:left;
}

.agency-item {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: white;
}

.col-4 {
    width:33.33%;
    padding:15px;
    float:left;
}

.offer-item {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: white;
}

.offer-description {
    padding: 25px;
}

#show_more_offers {
    clear: both;
    float:left;
}

#offers_filter_show_more {
    clear: both;
    float: left;
}

#res_custom_meta_box input, #res_custom_meta_box select, #res_custom_meta_box textarea {
    width: 100%;
}

#res_map_meta_box input {
    width: 100%;
}